*{
    margin: 0;
    padding: 0;
}

body {
    font-size:1em;
    background: #e6e6e6;
    font-family: 'Courier New', Courier, monospace
}

#cab{
    background-color: rgb(0, 238, 255);
    text-align: center;
    padding: 15px;
}

#logo, #menu{
    padding: 15px;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color:white;
    padding: 8px 12px;
}

a:hover{
    color: rgba(255, 166, 0, 0.753);
    background: white;
}

a:active{
    color:blue;
}

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: rgb(255, 0, 255);
}